<h3>Camera Settings</h3>
<form class="form-horizontal">
	<div class="row-fluid">
		<div class="span2">{{ _('Stream URL') }}</div>
		<div class="span10">
			<input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.ARPrintVisualizer.stream" placeholder="http://example.com/stream.mjpg">
		</div>
	</div>
</form> 