#settings_plugin_ARPrintVisualizer input[type="text"] {
    width: 80%;
}

#tab_plugin_ARPrintVisualizer img{
    min-height: 300px;
    min-width: 90%;
    border: 1px solid #333333;
    margin-bottom: 10px;
}

#tab_plugin_ARPrintVisualizer .btn {
    margin: 10px;
}